*.html text working-tree-encoding=CP1251
*.css text working-tree-encoding=CP1251
*.js text working-tree-encoding=CP1251
*.txt text working-tree-encoding=CP1251
*.php text working-tree-encoding=CP1251
*.xml text working-tree-encoding=CP1251
*.json text working-tree-encoding=CP1251
